<div class="container-fluid p-2">
  <div class="row">
    <div class="col-12">
      <h3 class="font-weight-bold">{{ title }}</h3>
    </div>
    <div class="col-12 pb-2">
      <mat-hint>{{ description }}</mat-hint>
    </div>
    <div class="col-12 p-0 m-0">
      <mat-accordion cdkDropList (cdkDropListDropped)="drop($event)">
        <div class="container-fluid mb-2" *ngFor="let object of objectList">
          <div class="row">
            <div class="col-11" cdkDrag [cdkDragStartDelay]="300">
              <div class="row">
                <div class="mt-3 col-1 p-0 m-0" style="text-align: end;">
                  <span
                    class="material-icons"
                    style="cursor: grab;"
                    matTooltip="Grab, hold and drag."
                    matTooltipPosition="above"
                  >
                    drag_indicator
                  </span>
                </div>
                <div class="col-11 p-0 m-0">
                  <div [ngSwitch]="type">
                    <div *ngSwitchCase="'Employment History'">
                      <app-drag-drop-item-template [type]="type" [item]="object">
                      </app-drag-drop-item-template>
                    </div>
                    <div *ngSwitchCase="'Education'">
                      <app-drag-drop-item-template [type]="type" [item]="object">
                      </app-drag-drop-item-template>
                    </div>
                    <div *ngSwitchCase="'Course'">
                      <app-drag-drop-item-template [type]="type" [item]="object">
                      </app-drag-drop-item-template>
                    </div>
                    <div *ngSwitchCase="'Untitled'">
                      <app-drag-drop-item-template [type]="type" [item]="object">
                      </app-drag-drop-item-template>
                    </div>
                    <div *ngSwitchCase="'Internship'">
                      <app-drag-drop-item-template [type]="type" [item]="object">
                      </app-drag-drop-item-template>
                    </div>
                    <div *ngSwitchCase="'Extra-curricular'">
                      <app-drag-drop-item-template [type]="type" [item]="object">
                      </app-drag-drop-item-template>
                    </div>


                    <div *ngSwitchDefault>(Not Specified)</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-1 mt-2 p-1">
              <span
                class="material-icons"
                style="cursor: pointer;"
                matTooltip="Delete"
                matTooltipPosition="above"
                (click)="onDelete(object)"
              >
                delete_outline
              </span>
            </div>
          </div>
        </div>
      </mat-accordion>
    </div>
    <div class="col-12">
      <div
        (click)="onAddEmploymentHistory()"
        class="additional-employment-button d-flex align-content-center"
        style="margin-left: 40px;"
      >
        <span
          class="material-icons"
          style="font-size: 20px; padding-right: 5px;"
        >
          add
        </span>
        Add {{ type }}
      </div>
    </div>
  </div>
</div>
