.container-fluid {
  width: 100%;
}

.additional-employment-button {
  font-weight: bold;
  color: rgb(10, 125, 219);
}

.additional-employment-button:hover {
  cursor: pointer;
  color: rgb(10, 140, 247);
}
