<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-xl-6">
      <!-- resume builder -->
      <app-resume-builder></app-resume-builder>
    </div>
    <div class="col-lg-6 col-xl-6">
      <!-- resume viewer -->
      <!-- <app-resume-viewer></app-resume-viewer> -->
    </div>
  </div>
</div>
